# Python
__pycache__/
*.pyc

# Virtual Environment
dpractice_env_312/
.env

# Django
db.sqlite3
staticfiles/

# VS Code
.vscode/

# Windows
Thumbs.db

# pyenvの設定ファイル
pyvenv.cfg

# バイナリーファイルが生成されるフォルダー
bin/

# ライブラリーを収録するフォルダー
lib/
# aaaaaaaaaaaaaaa